body{
    margin:0;
    min-height: 100vh;
    background-image: linear-gradient(#fbc2eb 3%, #a6c1ee 100%);
    
}


.nav-link{

    overflow: hidden;
    top:0;
    background-image: linear-gradient(50deg,#770f82, #9f1cb6, midnightblue);
  }
  
  .nav-link a {
    float: left;
    color: #0f0c0c;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
.logo{
    float:left;
    height:100px;
    left:20px;
    text-align: center;
}


  .intro-page p{
        
    color:#6a0963;
    margin-top: 70px;
    font-size: 120px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}
.intro-page h3{
    color: purple;
    padding: 6px 30px;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
.intro-page .login{
    color: purple;
    padding: 12px 23px;
    font-size: 0.9em;
    position: absolute;
    left: 500px;
    top: 500px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px 5px, rgb(0 0 0 / 19%) 3px 8px 20px 5px;
    
}

.intro-page .register{
    color: purple;
    padding: 12px 23px;
    font-size: 0.9em;
    position: absolute;
    left: 720px;
    top: 500px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px 5px, rgb(0 0 0 / 19%) 3px 8px 20px 5px;
}
.intro-page .aboutUS{
    
    color: purple;
    padding: 12px 23px;
    font-size: 0.9em;
    position: absolute;
    left: 950px;
    top: 500px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 20%) 3px 8px 20px 5px, rgb(0 0 0 / 19%) 3px 8px 20px 5px;
    
}
  .profile-image{
      position:relative;
      display:flex;
      flex-direction: column;
      align-items:center;
      padding-bottom:20px;
      border-bottom: 3px solid rgba(255,255,255,0.2);

  }
  .profile-image .image{
      position: relative;
      width:300px;
      height:300px;
      border-radius: 50%;
      overflow: hidden;
  }
  .profile-image .image img{
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    object-fit:cover;
}
.profile-image h2 {
    font-size: 5em;
    margin-top:20px;
    text-align: center;
    font-weight: 800;
}
.profile-image h2 {
    font-size: 2.5em;
    font-weight: 400;
}

.contact{
    padding-top:5px;
}
.contactTitle{
    font-weight: 800;
    font-size:2.5em;
    letter-spacing: 1px;
    margin-bottom:30px;
}
.contact ul{
    position: relative;
}
.contact ul li{
    position:relative;
    list-style: none;
    margin:10px 0;
    cursor:pointer;

}
.contact span{
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    font-weight: 800;
}
.studyBody {
    background-image: url('StudyBackgr.jpg');
}
.school{
    padding-top:5px;
}
.schoolTitle{
    font-weight: 800;
    font-size:2.5em;
    letter-spacing: 1px;
    margin-bottom:30px;
}
.school ul{
    position: relative;
}
.school ul li{
    position:relative;
    list-style: none;
    margin:10px 0;
    cursor:pointer;

}
.school span{
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    font-weight: 800;
}

.experienceBody{
    background-image: url('ExperienceBackgr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.experience{
    padding-top:5px;
}
.experienceTitle{
    font-weight: 800;
    font-size:2.5em;
    letter-spacing: 1px;
    margin-bottom:30px;
}
.experience ul{
    position: relative;
}
.experience ul li{
    position:relative;
    list-style: none;
    margin:10px 0;
    cursor:pointer;

}
.experience span{
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    font-weight: 800;
}

.login{
    padding-top:5px;
}
.loginTitle{
    font-weight: 800;
    font-size:2.5em;
    letter-spacing: 1px;
    margin-bottom:30px;
}

.login input[type=text] {
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.login input[type=password] {
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.login label {
    font-size: 1.25em;
    text-align: center;
    padding:5px 15px; 
    color: #6a0963;
    font-weight: bold;
    float: center;
  
  }
  .login label:after { content: ": " }

.login input[type=submit] {
    color: purple;
    padding: 12px 23px;
    font-size: 1em;
    position: absolute;
    left: 800px;
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 16px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
    top: 380px;

}




.register{
    padding-top:5px;
}
.registerTitle{
    font-weight: 800;
    font-size:2.5em;
    letter-spacing: 1px;
    margin-bottom:30px;
}

.register input[type=text] {
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.register input[type=password] {
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.register input[type=email] {
    font-size: 1.5em;
    margin-top:20px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.register input[type=date] {
    font-size: 1.5em;
    margin-top:20px;
    text-align: absolute;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.register label {
    font-size: 1.25em;
    text-align: center;
    padding:5px 15px; 
    color: #6a0963;
    font-weight: bold;
    float: center;
    position:relative;
  
  }
  .register label:after { content: ": " }

.register input[type=submit] {
    color: purple;
    padding: 12px 23px;
    font-size: 1em;
    position: absolute;
    left: 800px;
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 16px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
    top: 600px;

}



.contact{
    padding-top:0px;
}
.contactTitle{
    font-size:1.7em;
    letter-spacing: 1px;
    margin-bottom:0px;
}

.contact input[type=text] {
    font-size: 1.25em;
    margin-top:10px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.contact input[type=password] {
    font-size: 1.25em;
    margin-top:10px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.contact input[type=email] {
    font-size: 1.25em;
    margin-top:10px;
    text-align: center;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.contact input[type=date] {
    font-size: 1.25em;
    margin-top:10px;
    text-align: absolute;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.contact textarea {
    font-size: 1.25em;
    margin-top:10px;
    text-align: absolute;
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.contact label {
    font-size: 1.25em;
    margin-top:10px;
    text-align: center;
    padding:5px 15px; 
    color: #6a0963;
    font-weight: bold;
    float: center;
    position:relative;
  
  }
  .contact label:after { content: ": " }

.contact input[type=submit] {
    color: purple;
    padding: 12px 23px;
    font-size: 0.75em;
    position: absolute;
    left: 800px;
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 20%) 0px 8px 16px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px;
    top: 800px;

}