@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr-primary: #a8d4d3;
  --clr-secondary: #82cbca;
}

body {
  background-color: var(--clr-primary);
}

header{
  background-color: var(--clr-secondary);
}

.navbar li{
  list-style: none;
}

.navbar a{
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.navbar{
  min-height: 90px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:80px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color:#ea1538;
}

.hamburger{
  display:none;
  cursor:pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  background-color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* footer */

footer {
  width: 100%;
  background: var(--clr-secondary);
  min-height: 100px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

footer .social_icon li {
  list-style: none;
}

footer .social_icon li a {
  font-size: 30px;
  color: white;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}

footer .social_icon li a:hover {
  transform: translateY(-10px);
}

footer p {
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
}

/* Main page */

.first-page span {
  color: #ea1538;
}

.cvexplication-page span{
  color: #ea1538;
}

.first_main {
  text-align: center;
  color: white;
  padding:auto;
  padding-top: 225px;
  margin-bottom: 225px;
}

.first_main h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 100px;
}

.first_main p {
  font-size: 50px;
  font-weight: bold;
}

.first_main a {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.fmain_buttons {
  margin: 70px auto 0;
}

.fmain_buttons a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: white;
  border: 0.5px solid black;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}

.fmain_buttons a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ea1538;
  z-index: -1;
  transition: 0.5s;
}

.fmain_buttons a:hover span {
  width: 100%;
}

.fmain_buttons a:hover {
  color: white;
}

/* CV-PAGE */

.cv_main {
    display:flex;
    color: white;
    padding:auto;
    padding-top: 150px;
    padding-bottom: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:100px;
  }

  .cv_main h1 {
    font-family: "Kaushan Script", cursive;
    font-size: 70px;
  }

  .cv_main p {
    display:flex;
    font-size: 30px;
    font-weight: bold;
  }

  .cv_main span{
    font-family: "Kaushan Script", cursive;
  }

  .video {
    width:550px;
    height: 500px;
  }

/* Contact Page */

.cv_contact {
    display:flex;
    color: white;
    padding: auto;
    padding-top: 130px;
    padding-bottom: 130px; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:100px;
    letter-spacing:1.5px;
  }

  .logo span{
    color:#ea1538;
  }

  /* partea stanga */

  .contact-icon{
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 20%;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
  }

.contact-icon:hover{
  border: 3px solid #ea1538;
  transition: 2s;
}

 .contact-icon ul li  {
    margin-right: 10px;
    list-style-type: none;
    display: inline-block;
    padding: 16px 35px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
  }

  .cv_contact ul li a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
  }

  .cv_contact ul li  a:hover {
    color: #ea1538;
    transition: 0.3s;
  }

/* partea dreapta */

.text-contact {
    border: 3px solid rgba(255,255,255,0.2); 
    border-radius: 20%;
    padding: 20px;
    padding-top:-5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-contact:hover{
  border: 3px solid #ea1538;
  transition:2s;
}

.text-contact span{
  color:#ea1538;
}

.contactForm form input,
form textarea {
  padding:10px;
  border: none;
  outline:none;
  font-size:16px;
  background: rgba(255,255,255,0.2);
  color:#fff;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  border-radius: 10px;
}

.contactForm form textarea{
  resize: none;
  height:150px;
}

.contactForm form .contact_button{
  display: inline-block;
  background: var(--clr-primary);
}

 ::placeholder{
  color:var(--clr-secondary);
  opacity: 1;
}

.contact_button a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 0;
  color: white;
  border: 2px solid rgba(255,255,255,0.2);
  position: relative;
  text-align: center;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  z-index: 1;
  transition: color 0.5s;
}

.contact_button a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ea1538;
  z-index: -1;
  transition: 0.5s;
}

.contact_button a:hover span {
  width: 100%;
}

.contact_button a:hover {
  color: white;
}

/* PROFILE PAGE */

.profile-page{
  display:flex;
  flex-direction: column;
  background: linear-gradient(to right,#a8d4d3 20%, white 40%);
}

.profileMain {
  display:flex;  
  padding: auto;
  padding-top: 100px;
  padding-bottom: 100px; 
  flex-direction: row;
  align-items:flex-end;
  justify-content: center;
  gap:100px;
  letter-spacing:1.5px;
  font-weight: bold;
  color: rgb(29, 113, 128);
}

.img-profile{
  width:600px;
  height:600px;
  object-fit: cover;
} 

.profile-text span{
  color:#ea1538;
}

.profile-text{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin-bottom: 6rem;
  margin-top: 1rem;
  justify-content: center;
}

.profile-text h1 {
  font-size:60px;
  letter-spacing: 3.5px;
  margin-bottom: 5px;
}

.profile-text h2 {
  font-size:30px;
  letter-spacing: 3.5px;
}

.profile-text p{
  font-size: 20px;
  line-height: 30px;
}

.profile-button a {
  font-size:20px;
  letter-spacing: 2px;
  width: 150px;
  text-decoration: none;
  display: inline-block;
  padding: 12px 0;
  color: rgb(29, 113, 128);;
  background:white ;
  border: 3px solid  rgb(29, 113, 128);;
  border-radius:2%;
  position: relative;
  text-align: center;
  margin-bottom: 0.7rem;
  margin-top: 3rem;
  z-index: 1;
  transition: color 0.5s;
}

.profile-button a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ea1538;
  z-index: -1;
  transition: 0.5s;
}

.profile-button a:hover span {
  width: 100%;
}

.profile-button a:hover {
  color: var(--clr-secondary);
}

/* Experience-page */

.experience-page{
  display:flex;
  flex-direction: column;
  background-image: url('ExperienceBackgr.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  gap:100px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#experiencesContainer{
  padding:auto;
  margin-top: 200px;
  margin-bottom: 200px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.cardContainer{
  padding: 35px;
  color: rgb(29, 113, 128);
  border: 6px solid var(--clr-primary);
  border-radius: 20%;
}

.cardContainer:hover{
  border: 3px solid #ea1538;
  transition: 2s;
}

#experiencesContainer p{
  font-size: 20px;
  line-height: 30px;
}

/*  Education page */

.educationMain{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 108px;
  margin-bottom: 108px;
}

.education-page{
  background-image: url('educationbck.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.chenar1{
  padding: 35px;
  color: rgb(29, 113, 128);
  border: 6px solid var(--clr-primary);
  border-radius: 20%;
  width: fit-content;
  width:500px;
  margin:auto;
}

.chenar1:hover{
  border: 2px solid #ea1538;
  transition: 0.3s;
}

.img-education{
  width:200px;
  height:200px;
  object-fit: cover;
  margin:5px;
  margin-top: 10px;
}

.education-text ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 0;
  color: rgb(29, 113, 128);
  text-decoration: none;
}

.educationMain h3{
  color: rgb(29, 113, 128);
}

.education-text ul li a {
  color: rgb(29, 113, 128);
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}

.education-text ul li  a:hover {
  color: #ea1538;
  transition: 0.3s;
}

/* Media querrys */

@media screen and (max-width: 600px) {

  /*  PROFILE MAIN  */

  .profileMain {
    margin:auto;
    gap:30px;
    letter-spacing:1px;
    margin-top:120px;
    margin-bottom: 120px;
    
  }
  
  .img-profile{
    width:270px;
    height:270px;
    object-fit: cover;
    margin-bottom: auto;
  } 

  .profile-text{
    padding: 2px;
    margin: auto;
  }
  
  .profile-text h1 {
    font-size:25px;
    letter-spacing: 1px;
    margin: auto;

  }
  
  .profile-text h2 {
    font-size:17px;
    letter-spacing: 1px;
    margin: auto;

  }
  
  .profile-text p{
    font-size: 10x;
    line-height: 20px;
    margin: auto;

  }
  
  .profile-button a {
    font-size:15px;
    letter-spacing: 1px;
    width: 100px;
    padding: 7px 0;
    margin: auto;
  }
    
  /* EDUCATION */

.educationMain{
  margin:auto;
  margin-top: 108px;
  margin-bottom: 108px;
  flex-direction: column;
  gap:20px;
}

.educationMain h4{
  font-size: 15px;
}

.chenar1{
  padding: 25px;
  width:350px;
}

.img-education{
  width:150px;
  height:150px;
  object-fit: cover;
  margin:5px;
  margin-top: 10px;
}

/* EXPERINECE */

#experiencesContainer{
  margin:auto;
  flex-direction: column;
  gap:20px;
  width: 400px;
}

.cardContainer{
  padding: 25px;
}

#experiencesContainer p{
  font-size: 20px;
  line-height: 30px;
}

/* CV-explication */

.cv_main {
  margin: auto;
  padding-top: 135px;
  padding-bottom: 135px;
  gap:45px;
  margin-left: 20px;
}

.cv_main h1 {
  font-size: 30px;
}

.cv_main p {
  font-size: 25px;
  font-weight: bold;
}

.video {
  width:250px;
  height: 250px;
}

/* Contact Page */

.cv_contact {
  padding-top: 110px;
  padding-bottom: 110px; 
  gap:60px;
  letter-spacing:1.5px;
  flex-direction: column-reverse;
}

/* partea stanga */

.contact-icon{
  width:540px;
  padding-left: 30px;
  padding-right: 30px;
}

.contact-icon:hover{
border: 3px solid #ea1538;
transition: 2s;
}

.contact-icon ul li  {
  margin-right: 10px;
  list-style-type: none;
  display: inline-block;
  padding: 8px 10px;
  margin:0.5rem;
}

/* partea dreapta */

.text-contact {
  padding: 20px;
  padding-top:-5px;
  padding-bottom: 5px;
}

.contactForm form input,
form textarea {
  font-size:12px;
}

.contactForm form textarea{
  resize: none;
  height:120px;
}

.text-contact{
  font-size:13px;
}

.contact_button a {
  width: 120px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;

}

}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .profileMain {
    margin:auto;
    gap:30px;
    letter-spacing:1px;
    margin-top:130px;
    margin-bottom: 130px;
  }
  
  .img-profile{
    width:350px;
    height:350px;
    object-fit: cover;
    margin-bottom: auto;
  } 
  .profile-text{
    padding: 5px;
    margin: auto;
  }
  
  .profile-text h1 {
    font-size:28px;
    letter-spacing: 1px;
    margin: auto;
  }
  
  .profile-text h2 {
    font-size:19px;
    letter-spacing: 1px;
    margin: auto;
  }
  
  .profile-text p{
    font-size: 13x;
    line-height: 20px;
    margin: auto;
  }
  
  .profile-button a {
    font-size:18px;
    letter-spacing: 1px;
    width: 90px;
    padding: 7px 0;
    margin: auto;

  }
 
/* EDUCATION */

.educationMain{
  margin:auto;
  margin-top: 108px;
  margin-bottom: 108px;
  flex-direction: column;
  gap:20px;
}

.educationMain h4{
  font-size: 15px;
}

.chenar1{
  padding: 25px;
  width:380px;
}

.img-education{
  width:160px;
  height:160px;
  object-fit: cover;
  margin:5px;
  margin-top: 10px;
}


/* EXPERINECE */

#experiencesContainer{
  margin:auto;
  display:flex;
  flex-direction: column;
  gap:20px;
  justify-content: space-around;
  text-align: center;
  width: 420px;
}

.cardContainer{
  padding: 25px;
  width: 420px;
  height: 200px;
}

#experiencesContainer p{
  font-size: 20px;
  line-height: 30px;
}

/* CV-explication */

.cv_main {
  margin: auto;
  padding-top: 165px;
  padding-bottom: 165px;
  gap:40px;
  margin-left: 30px;
}

.cv_main h1 {
  font-size: 32px;
}

.cv_main p {
  font-size: 28px;
  font-weight: bold;
}

.video {
  width:400px;
  height: 400px;
}

/* Contact Page */

.cv_contact {
  padding-top: 110px;
  padding-bottom: 110px; 
  gap:60px;
  letter-spacing:1.5px;
  flex-direction: column-reverse;
}

/* partea stanga */

.contact-icon{

  width:560px;
  padding-left: 30px;
  padding-right: 30px;
}

.contact-icon:hover{
  border: 3px solid #ea1538;
  transition: 2s;
}

.contact-icon ul li  {
  margin-right: 10px;
  list-style-type: none;
  display: inline-block;
  padding: 8px 10px;
  margin:0.5rem;
}

/* partea dreapta */

.text-contact {
  padding: 25px;
  padding-top:-5px;
  padding-bottom: 5px;
}

.contactForm form input,
form textarea {
  font-size:16px;
}

.contactForm form textarea{
  resize: none;
  height:130px;
}

.text-contact{
  font-size:15px;
}

.contact_button a {
  width: 120px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;

}

}




@media screen and (min-width: 769px) and (max-width:992px)  { 

  .profileMain {
    margin:auto;
    gap:30px;
    letter-spacing:1px;
    margin-top:130px;
    margin-bottom: 130px;
  }
  
  .img-profile{
    width:400px;
    height:400px;
    object-fit: cover;
    margin-bottom: auto;
  } 

  .profile-text{
    padding: 15px;
    margin: auto;
  }
  
  .profile-text h1 {
    font-size:30px;
    letter-spacing: 1.5px;
  }
  
  .profile-text h2 {
    font-size:20px;
    letter-spacing: 1.5px;
  }
  
  .profile-text p{
    font-size: 15x;
    line-height: 25px;
    margin: auto;
  }
  
  .profile-button a {
    font-size:18px;
    letter-spacing: 1px;
    width: 90px;
    padding: 7px 0;
    margin: auto;
  }

  /* EDUCATION */

.educationMain{
  margin:auto;
  margin-top: 108px;
  margin-bottom: 108px;
  flex-direction: column;
  gap:20px;
}

.educationMain h4{
  font-size: 17px;
}

.chenar1{
  padding: 25px;
  width:400px;
}

.img-education{
  width:170px;
  height:170px;
  object-fit: cover;
  margin:5px;
  margin-top: 10px;
}

/* EXPERINECE */

#experiencesContainer{
 
  margin:auto;
  margin-top: 165px;
  margin-bottom: 165px;
  display:flex;
  flex-direction: row;
  gap:20px;
  justify-content: space-around;
  text-align: center;
}

.cardContainer{
  padding: 25px;
  width: 500px;
  height: 250px;
  margin: auto;
}

#experiencesContainer p{
  font-size: 20px;
  line-height: 25px;
}

/* CV-explication */

.cv_main {
  margin: auto;
  padding-top: 185px;
  padding-bottom: 185px;
  gap:65px;
  margin-left: 30px;
}

.cv_main h1 {
  font-size: 34px;
}

.cv_main p {
  font-size: 30px;
  font-weight: bold;
}

.video {
  width:400px;
  height: 400px;
}


/* Contact Page */

.cv_contact {
  padding-top: 110px;
  padding-bottom: 110px; 
  gap:60px;
  letter-spacing:1.5px;
  flex-direction: row;
}

/* partea stanga */

.contact-icon{
  height: 610px;
  width:560px;
  padding-left: 30px;
  padding-right: 30px;
}

.contact-icon ul li  {
  margin:auto;
  align-items: center;
  margin-right: 10px;
  padding: 25px 10px;
  margin:0.5rem;
}

/* partea dreapta */

.text-contact {
  height: 610px;
  width:560px;
  padding: 25px;
  padding-top:-5px;
  padding-bottom: 5px;
}


.contactForm form input,
form textarea {
font-size:16px;
}

.contactForm form textarea{
resize: none;
height:130px;
}

.text-contact{
  font-size:15px;
}

.contact_button a {
  width: 120px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;

}
}




@media screen and (min-width: 993px) and (max-width:1200px)  { 

  .profileMain {
    margin:auto;
    gap:30px;
    letter-spacing:1px;
    margin-top:130px;
    margin-bottom: 130px;
  }
  
  .img-profile{
    width:500px;
    height:500px;
    object-fit: cover;
    margin-bottom: auto;
  } 

  .profile-text{
    padding: 15px;
    margin: auto;
  }
  
  .profile-text h1 {
    font-size:35px;
    letter-spacing: 1.5px;
  }
  
  .profile-text h2 {
    font-size:25px;
    letter-spacing: 1.5px;
  }
  
  .profile-text p{
    font-size: 17x;
    line-height: 30px;
    margin: auto;
  }
  
  .profile-button a {
    font-size:20px;
    letter-spacing: 1.5px;
    width: 100px;
    padding: 10px 0;
    margin: auto;
  }

  /* EDUCATION */

  .educationMain{
    margin:auto;
    margin-top: 108px;
    margin-bottom: 108px;
    flex-direction: column;
    gap:20px;
  }

  .educationMain h4{
    font-size: 20px;
  }

  .chenar1{
    padding: 25px;
    width:450px;
  }
  
  
  .img-education{
    width:180px;
    height:180px;
    object-fit: cover;
    margin:5px;
    margin-top: 10px;
  }

  /* Experience */

  #experiencesContainer{
    margin:auto;
    margin-top: 165px;
    margin-bottom: 165px;
    display:flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-around;
    text-align: center;
  }
  
  .cardContainer{
    padding: 25px;
    width: 500px;
    height: 250px;
    margin: auto;
  }
  
  #experiencesContainer p{
    font-size: 25px;
    line-height: 30px;
  }

  /* CV-explication */

.cv_main {
  margin: auto;
  padding-top: 185px;
  padding-bottom: 185px;
  gap:65px;
  margin-left: 30px;
}

.cv_main h1 {
  font-size: 34px;
}

.cv_main p {
  font-size: 30px;
  font-weight: bold;
}

.video {
  width:450px;
  height: 450px;
}

/* Contact Page */

.cv_contact {
  padding-top: 110px;
  padding-bottom: 110px; 
  gap:60px;
  letter-spacing:1.5px;
  flex-direction: row;
}

/* partea stanga */

.contact-icon{
  height: 610px;
  width:560px;
  padding-left: 30px;
  padding-right: 30px; 
}

.contact-icon ul li  {
  align-items: center;
  margin-right: 10px;
  padding: 25px 10px;
  margin:0.5rem;
  font-size:20px;
}

/* partea dreapta */

.text-contact {
  height: 610px;
  width:560px;
  padding: 25px;
  padding-top:-5px;
  padding-bottom: 5px;
}

.contactForm form input,
  form textarea {
  font-size:19px;
}

.contactForm form textarea{
  resize: none;
  height:130px;
}

.text-contact{
  font-size:17px;
}

.contact_button a {
  margin:auto;
  width: 120px;
  padding: 10px 0;

}

}


/* Partea de navbar */
@media screen and (max-width: 900px) {

  .logo {
    font-size: 20px;
  }
 
   .hamburger{
    display:block;
    align-items:flex-start;
    flex-direction: column;
    margin-left: 300px; 
  }

   .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
   transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

   .nav-menu{
    position: fixed;
    left: -100%;
    top:70px;
    gap:0;
    flex-direction: column;
    background-color:var(--clr-secondary);
    width: 100%;
    text-align: center;
    transition: 0.3s;
   }

   .nav-item{
    margin: 16px 0;
    }

    .nav-menu.active{
      left:0;
    } 
}